@charset 'utf-8';

body,html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: url('../img/backgroundTheme.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

a{
	text-decoration: none!important;
	
}


#floatingInput{
	background: none;
	border: 1px solid grey;
	letter-spacing: 3px;
	text-align: center;
}
#labelFloatingInput{
	color: green;
	letter-spacing: 4px;
	font-size: 18px;

}
#title{
	
	letter-spacing: 5px;
	font-weight: bolder;
}

#title span:nth-child(1){
	color:#3d80ba;
}
#title span:nth-child(2){
	color: green ;
}
#title span:nth-child(3){
	color:#489a22;
}
#send{
	letter-spacing: 6px;
	transition: .3s;
}
